.button {
  background-color: #fd5c63;
  border: none;
  color: white;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid #fd5c63;
  color: #fd5c63;
  padding: 0.3rem 0.8rem;
  margin: 0 ($space/2) 0 0;
}

.button--secondary {
  color: $button-secondary-color;
  border: 1px solid $button-secondary-border-color;
  background: $button-secondary-bg;
}

.button--link-text {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}
